<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title=#{pageTitle.nome})">
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/my-style.css">
<style>
body {font-family: "Times New Roman", Georgia, Serif;}
</style>
</head>

<body>

<header th:replace="fragments/base.html :: menuAdmin"></header>

    <div class="scheda" id="schedaBuffetChefAggiungibiliAdmin">
    <div class="schedaText">
      <h1 class="titoloScheda" th:text="${incontro.nome}">nome incontro</h1>
     <div class=corpoElenco>
     <h3> Utenti:</h3>
      <div th:each="utente : ${utenti}"> 
      <p> <a href="admin/utente/utente.html" th:href="@{'/admin/utente'+'/'+${utente.id}}"
        th:text="${utente.nome}+' '+${utente.cognome}">nome e cognome</a> </p>
      <form th:action="@{'/admin/setModeratore'+'/'+${incontro.id}+'/'+${utente.id}}" method="GET">
				<span><button class="addButton" type="Aggiungi">Aggiungi</button></span>
	</form>
      </div>
    </div>
    </div>
    <div class="immagineChef">
      <img src="/images/libri.jpg" class="img" height="90%">
    </div>
  </div>
    <footer th:replace="fragments/base.html :: footer"></footer>
</body>
</html>

