<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title=#{pageTitle.nome})">
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/my-style.css">
<style>
body {font-family: "Times New Roman", Georgia, Serif;}
</style>
</head>

<body>

<header th:replace="fragments/base.html :: menuAdmin"></header>

    <div class="myform" id="formChefAdmin">
    <div class="formText">
      <h1 class="titoloForm">Inserisci un nuovo autore</h1>
     <div class=corpoForm>
      <form th:action="@{/admin/creaAutore}" method="POST" th:object="${autore}">
		<div th:if="${#fields.hasGlobalErrors()}">
  			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
		</div>		
		<div>
			<div>
				<span>Nome:</span>
				<span><input type="text" th:field="*{nome}" /></span>
				<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
			</div>	
			<div>
				<span>Cognome:</span>
				<span><input type="text" th:field="*{cognome}" /></span>
				<span th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}"></span>
			</div>	
			<div>
				<span>Biografia:</span>
				<span><input type="text" th:field="*{biografia}" /></span>
				<span th:if="${#fields.hasErrors('biografia')}" th:errors="*{biografia}"></span>
			</div>
			<div>
				<span><button class"newButton" type="Crea chef">Crea autore</button></span>
			</div>
		</div>
	</form>
    </div>
    </div>
    <div class="immagineBuffet">
      <img src="/images/libri.jpg" class="img" height="90%">
    </div>
  </div>
    <footer th:replace="fragments/base.html :: footer"></footer>
</body>
</html>




