<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/base.html :: headerfiles(title=#{pageTitle.nome})">
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/css/my-style.css">
	<style>
		body {
			font-family: "Times New Roman", Georgia, Serif;
		}
	</style>
</head>

<body>

	<header th:replace="fragments/base.html :: menuAdmin"></header>

	<div class="scheda" id="schedaBuffetAdmin">
		<div class="schedaText">
			<h1 class="titoloScheda" th:text="${utente.nome}+' '+${utente.cognome}">nome e cognome</h1>
			<h4 th:text="${utente.presentazione}">presentazione</h4>
			
			<div class=corpoElenco>
				<h3>Le recensioni</h3>
				<div th:each="recensione : ${recensioni}">
					<a href="admin/recensione/recensione.html" th:href="@{'/admin/recensione'+'/'+${recensione.id}}"
					th:text="${recensione.titolo}"> nome e cognome </a>
				</div>
			</div>
		</div>
		<div class="immagineChef">
			<img src="/images/libri.jpg" class="img" height="90%">
		</div>
	</div>
	<footer th:replace="fragments/base.html :: footer"></footer>
</body>

</html>