<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/base.html :: headerfiles(title=#{pageTitle.nome})">
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/css/my-style.css">
	<style>
		body {
			font-family: "Times New Roman", Georgia, Serif;
		}
	</style>
</head>

<body>

	<header th:replace="fragments/base.html :: menuUser"></header>

	<div class="elenco" id="elencoBuffetAdmin">
		<div class="elencoText">
			<h1 class="titoloElenco">I libri</h1>
			<div class=corpoElenco>
				<div th:each="libro : ${libri}">
					<h4> <a href="user/libro/libro.html" th:href="@{'/user/libro'+'/'+${libro.id}}"
							th:text="${libro.titolo}">nome</a> </h4>

				</div>
			</div>
		</div>
		<div class="immagineBuffet">
			<img src="/images/libri.jpg" class="img" height="90%">
		</div>
	</div>
	<footer th:replace="fragments/base.html :: footer"></footer>
</body>

</html>