
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/base.html :: headerfiles(title=#{pageTitle.nome})">
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/css/my-style.css">
	<style>
		body {
			font-family: "Times New Roman", Georgia, Serif;
		}
	</style>
</head>

<body>

	<header th:replace="fragments/base.html :: menuUser"></header>

	<div class="scheda" id="schedaBuffetAdmin">
		<div class="schedaText">
			<h1 class="titoloScheda" th:text="${libro.titolo}">nome</h1>
			<h4 th:text="${libro.descrizione}">descrizione</h4>
			<p th:text="${libro.anno}">anno</p>

			<div th:if="${autore}" th:object="${autore}">
				Autore: <a href="user/autore/autore.html" th:href="@{'/user/autore'+'/'+${autore.id}}"
					th:text="${autore.nome}+' '+${autore.cognome}">nome e cognome </a>
			</div>
			<div th:unless="${autore}">Autore non noto </form>
			</div>
			<div class=corpoElenco>
				<h3>Gli incontri:</h3>
				<div th:each="incontro : ${incontri}">
					<p> <a href="user/incontro/incontro.html" th:href="@{'/user/incontro'+'/'+${incontro.id}}"
							th:text="${incontro.nome}">nome piatto</a> </p>
					<p th:text="${incontro.data}"> data incontro </p>
				</div>
			</div>
			<div class=corpoElenco>
				<h3> Le recensioni:</h3>
				<div th:each="recensione : ${recensioni}">
					<p> <a href="user/recensione/recensione.html" th:href="@{'/user/recensione'+'/'+${recensione.id}}"
							th:text="${recensione.titolo}">titolo recensione</a> </p>
				</div>
				<form th:action="@{'/user/recensioneForm'+'/'+${libro.id}}" method="GET">
					<div>
						<p>Vuoi recensire questo libro?</p>
						<button class="newButton" type="submit">Scrivi recensione</button>
					</div>
				</form>
			</div>
		</div>
		<div class="immagineChef">
			<img src="/images/libri.jpg" class="img" height="90%">
		</div>
	</div>
	<footer th:replace="fragments/base.html :: footer"></footer>
</body>

</html>



































