<!DOCTYPE html>
<html>
<head th:replace="fragments/base.html :: headerfiles(title=#{pageTitle.name})">
<title>Book Club Homepage</title>
<meta charset="ISO-8859-1">
<link th:href = "@{/css/bootstrap.min.css}" rel="stylesheet">
<link th:href = "@{/css/mycss.css}" rel="stylesheet">
<link th:href="@{/css/my-style.css}" rel="stylesheet">
</head>

 <body>   

<header th:replace="fragments/base.html :: menuUser"></header>




<footer th:replace="fragments/base.html :: footer"></footer>



</body>

</html>